html,
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../Images/legal-background.jpg);
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text',
    'Times New Roman', serif;
}

.header {
  margin: 0 15%;
}

.jumbo-color {
  background-color: rgba(0, 0, 0, 0.5);
}

#logo {
  float: left;
}

#name {
  margin-top: 30px;
  margin-bottom: 0px;
}

.jumbotron hr {
  /* width: 70%; */
  /* align-content: flex-start; */
  margin: 0px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
}

.site {
  flex: 1;
}
