/*div {
  outline: 1px solid black;
}*/

html,
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../Images/legal-background.jpg);
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text",
    "Times New Roman", serif;
}

hr {
  max-width: 100%;
}

.jumbotron {
  background: rgba(0, 0, 0, 0.5);
}

.footer {
<<<<<<< HEAD
  background-color: rgba(0, 0, 0, 0);
=======
  background-color: rgba(0, 0, 0, 0.0);
>>>>>>> 701114cd9f249c1c0ca9a73126fff8406d6900ed
  width: 100%;
  height: fit-content;
  text-align: center;
  flex-shrink: 0;
  margin-top: 32px;
}

main {
  flex: 1;
  margin: auto;
}

form {
  background-color: #004993 !important;
}
